.despachoBox {
	box-sizing: border-box;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgba(24, 20, 20, 0.849);
    width: 80%;
    min-width: 640px;
    max-width: 1024px;
    height: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 50px;
	box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.733);
}

.despachoBox h1 {
	padding-top: 0px;
    text-align: center;
    font-size: 21px;
}

.despachoBox input {
	width: 100%;
    margin-bottom: 5px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.despachoBox label{
    margin: 0;
    padding: 0 ;
    font-weight: bold;
    display: block;
    margin-top: 20px;
}

.despachoBox label:first-child{
    margin-top: 20px;
}

.despachoBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background-color: #0f1ab8;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    margin: 20px 0px;
} 

.despachoBox input[type="reset"]{
    border: none;
    outline: none;
    height: 40px;
    background-color: #0f1ab8;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    margin: 20px 0px;
}

.despachoBox select {
	height: 30px;
	margin: 8px 0 18px;
	width: 100%;
	background-color: rgba(24, 20, 20, 0.836);
	color: white;
}