
.loginBox{
    width: 340px;
    height: 550px;
    background-color: rgba(24, 20, 20, 0.849);
    color: #fff;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 80px 30px;
    overflow: hidden;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.733);
}

.loginBox label:first-child{
    margin-top: 20px;
}


.loginBox label{
    margin: 0;
    padding: 0 ;
    font-weight: bold;
    display: block;
 
}

.loginBox h1{
    padding-top: 0;
    text-align: center;
    font-size: 21px;
}

.loginBox input{
    width: 100%;
    margin-bottom: 10px;
}

.loginBox input[type="text"],
.loginBox input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.loginBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background-color: #0f1ab8;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    margin: 20px 0px 20px 0px;
}

.remember{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 20px 0;
}

.rememberContent {
    margin: 0px!important;
}

.botonera{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.navButton {
    height: 40px;
    font-size: 18px;
    border-radius: 20px;
    text-decoration: none;
}

.error {
    color: lightcoral;
    font-size: 16px;
}

