.registerBox{
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgba(24, 20, 20, 0.849);
    width: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.733);
}

.registerBox h1{
    padding-top: 0px;
    text-align: center;
    font-size: 21px;
}

.registerBox input{
    width: 100%;
    margin-bottom: 5px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.registerBox label{
    margin: 0;
    padding: 0 ;
    font-weight: bold;
    display: block;
    margin-top: 20px;
}

.registerBox label:first-child{
    margin-top: 20px;
}

.registerBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background-color: #0f1ab8;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    margin: 20px 0px;
} 

.registerBox input[type="reset"]{
    border: none;
    outline: none;
    height: 40px;
    background-color: #0f1ab8;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    margin: 20px 0px;
} 

.error {
    color: lightcoral;
    font-size: 16px;
}

<<<<<<< HEAD

=======
.title {
    margin-top: 48px;
    margin-bottom: 48px;
}

.buttons {
    margin-top: 48px;
    margin-bottom: 8px;
}
>>>>>>> 6a362c88282205daaec104b085a05c6ad601d957
